<div class="">
    <div id="map"></div>
</div>
<script src="./js/map.js"></script>

  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOxXYVOWPzgQcdB8Zc8KTR-P92C8A-K2Y&callback=initMap&v=weekly"
      defer
    ></script>  
