<nav>
    <p>logout</p>
    <p>Get Location</p>
</nav>
<main>
    <div class="user-card-header">
        <h1>User Info</h1>
    </div>
        <div class="user-card-info">
            {{user_info}}
        </div>
    <div class="visits-card-header">
        <h1>Recently Visited Locations</h1>
    </div>
        <div class="recently-visited-card">
            {{recent_visits}}
        </div>
    <div class="groups-card-header">
        <h1>Your Groups</h1>
    </div>
        <div class="user-groups-card>">
            {{user_groups}}
        </div>
</main>