{{! TODO - fill this information out or at least show profile name/user acct. 
        TODO - also finish out the partials that were referenced here.
        
 }}

{{! This is rendered via controller/profile-routes.js, information is passed via object in render, this should have User data in the form of "user" 
No logic created for this file, if you want functionality for buttons ect.ect. you will want o create public/js/profile.js}}
<div class="container">
  <div class="column user-card-header m-3 col-3">
    <h1 class="justify-content-center">User Info</h1>
    <br />
    <p class="fs-4">Username: {{user.userName}}</p>
    <p class="fs-4">Latitude: {{user.latitude}}</p>
    <p class="fs-4">Longitude: {{user.longitude}}</p>
  </div>
  <div class="card user-card-info">
  </div>
  <div class="column visits-card-header m-3 col-3">
    <h1 class="recently-visited-head justify-content-center">Recently Visited</h1>
    <br />
    <div>
      <h4 class="coming-soon-head">Feature Coming Soon!</h4>
      <br />
      <p class="will-include">Recently Visited Locations Will Include:</p>
      <ul class="coming-soon-ul list-unstyled">
        <li class="coming-soon-li">
          A list of your recent meet up locations</li>
        <li class="coming-soon-li">Your favorite locations</li>
        <li class="coming-soon-li">And more!</li>
      </ul>
    </div>
  </div>
  <div class="card recently-visited-card">
  </div>
  <div class="column groups-card-header m-3 col-3">
    <h1 class="justify-content-center">Your Groups</h1>
    <br />
    {{#if noGroup}}
      <p>You are not currently in a group. Join one today!</p>
    {{/if}}
    {{#unless noGroup}}
      {{#each userGroup as |group|}}
        <p class="fs-4">Group Name: {{group}}</p>
      {{/each}}
    {{/unless}}
  </div>
  <div class="card user-groups-card">
  </div>
</div>