<div class="container">
    <div class="column user-card-header col-3" >
        <h1>User Info</h1>
    </div>
        <div class="card user-card-info">
            {{user_info}}
        </div>
    <div class="column visits-card-header col-3">
        <h1>Recently Visited Locations</h1>
    </div>
        <div class="card recently-visited-card">
            {{recent_visits}}
        </div>
    <div class="column groups-card-header col-3">
        <h1>Your Groups</h1>
    </div>
        <div class="card user-groups-card>">
            {{user_groups}}
        </div>
</div>